target/
.settings/**/*
!.settings/org.eclipse.jdt.core.prefs
!.settings/org.eclipse.jdt.ui.prefs
.classpath
.project
bin/
.gradle

# IntelliJ config files
.idea/**/*
!.idea/compiler.xml
!.idea/checkstyle-idea.xml
!.idea/runConfigurations/*.xml
!.idea/modules/*.iml
!.idea/eclipseCodeFormatter.xml
!.idea/inspectionProfiles/Project_Default.xml

classes/
**/node_modules
**/*.iml
**/*.ipr
**/*.iws
**/build
out

csi-tmp/
renew-app/.gradle/
*.log
src/generated/**
/bin/
.checkstyle